@import "tailwindcss";


.mainBody{
    /* background-image: url('./assets/bg-image.png'); */
    background-repeat: no-repeat;
    background-size: auto;
    overflow-x: hidden;
}


.newHead{
    font-family: "Ruthie";
}

.reviewHead{
    font-family:  "Ruluko";
}


.mainBody {
    margin: 0;
    background: radial-gradient(ellipse at bottom, #0d1b2a 0%, #000000 100%);
    /* background: linear-gradient(to bottom right, black, #0a0f1c); */
    overflow-x: hidden;
    color: white;
  }
  

  .loader {
    --s: 40px;
    --g: 5px;  
    
    height: calc(2*(var(--s) + var(--g)));
    aspect-ratio: 1;
    background:
      radial-gradient(calc(var(--s)/sqrt(2)) at calc(50% - .1*var(--s)) calc(50% - .2*var(--s)),#0000 5%,60%,#111 98%), 
      linear-gradient(#021e68 0 0) no-repeat #fff; 
    background-size: 50% 50%;
    mask: radial-gradient(calc(var(--s)/2),#000 calc(100% - 1px),#0000) 0 0/50% 50%;
    animation: l12 steps(3) 1.5s infinite;
  }
  @keyframes l12 {
    0%,12.5%    {background-position:0 0}
    12.6%,37.5% {background-position:0 0,100% 0}
    37.6%,62.5% {background-position:0 0,100% 100%}
    62.6%,87.5% {background-position:0 0,0 100%}
    87.6%,100%  {background-position:0 0}
  }



  .pizza-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
  }
  
  .pizza-slice {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    opacity: 0;
    object-fit: contain;
  }
  

  #homeAnimate{
    width: 500px;
  }


  @media (max-width:1040px) {
    #homeAnimate{
      width: 700px;
    }
  }


  .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    