@import "tailwindcss";


.mainBody{
    background-image: url('./assets/bg-image.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    overflow-x: hidden;
}


.newHead{
    font-family: "Ruthie";
}

.reviewHead{
    font-family:  "Ruluko";
}


.mainBody {
    margin: 0;
    /* background: radial-gradient(ellipse at bottom, #0d1b2a 0%, #000000 100%); */
    overflow-x: hidden;
    color: white;
  }
  

  